<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    iframe#iframe{
      width: 50%;
      margin-right: 1px;
      margin-left: auto;
      display: block;
      height: 500px;
      border: 1px solid #2b8000;
    }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="messageBoard">

    </div>
    <input type="text" id="messageInput">
    <button id="pingButton">Ping Iframe</button>


    <iframe id="iframe" src="http://localhost:3004/" frameborder="0"></iframe>
  </body>



  <script>
      window.onload = function main(event){
        console.log(event);



        var iframe = document.querySelector('#iframe');
        var pingButton = document.querySelector('#pingButton');
        var messageInput = document.querySelector('#messageInput');
        var messageBoard = document.querySelector('#messageBoard');



        console.log(iframe, pingButton, messageBoard, messageInput);


        pingButton.onclick = event => {
          let text = messageInput.value;
          sendMessage(text);
        }

        sendMessage = text => {
          alert('sending')
          iframe.contentWindow.postMessage(text, '*');
        }

      }

      const respondToPing = message => {
        // alert(JSON.stringify(message));
      }
      window.addEventListener('message', respondToPing);


    </script>
    
</html>
